.card-step {
  @include card;
  padding: 25px 10px;
  background-color: $light-grey;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80%;

  &--pink {
    background-color: lighten($color-primary, 35);
  }

  &__number {
    width: 20px;
    height: 20px;
    background-color: $color-primary;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -10px;
  }

  &__text {
    font-weight: 700;

    i {
      margin-right: 20px;
      color: darken($light-grey, 50)
    }
  }
}

.card-restaurant {
  @include card;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  color: black;

  &__picture {
    position: relative;
    img {
      height: 200px;
      width: 100%;
      object-fit: cover;
    }
  }

  &__new-tag {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 5px 10px;
    background-color: $color-tertiary;
    color: darken($color-tertiary, 40);
    font-size: 14px;
  }

  &__info {
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    & i {
      font-size: 22px;
    }

    & p {
      font-size: 16px;
      font-weight: 300;
      margin: 2px 0;
    }
  }
}

.card-food {
  @include card;
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 10px 0;

  &__text {
    h3 {
      font-weight: 500;
      margin: 3px 0;
    }

    p {
      font-weight: 300;
    }
  }

  &__price {
    font-weight: bold;
    font-size: 16px;
  }
}
