.card-step {
  @include card;
  padding: 25px 10px;
  background-color: $light-grey;
  @include flex-center;
  position: relative;
  width: 80%;
  overflow: visible;

  &--pink {
    background-color: lighten($color-primary, 35);
  }

  &__number {
    width: 20px;
    height: 20px;
    background-color: $color-primary;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -10px;
  }

  &__text {
    font-weight: 700;

    i {
      margin-right: 20px;
      color: darken($light-grey, 50)
    }
  }
}

.card-restaurant {
  @include card;
  width: 100%;
  text-decoration: none;
  color: black;

  &__picture {
    position: relative;
    img {
      height: 200px;
      width: 100%;
      object-fit: cover;
    }
  }

  &__new-tag {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 5px 10px;
    background-color: $color-tertiary;
    color: darken($color-tertiary, 40);
    font-size: 14px;
  }

  &__info {
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    & i {
      font-size: 22px;
    }

    & p {
      font-size: 16px;
      font-weight: 300;
      margin: 2px 0;
    }
  }
}

.card-food {
  min-width: calc(100% - 40px);
  @include card;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;



  &__info {
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: flex-end;
    transform-origin: left;
    transition: width 180ms ease-in-out;
  }

  &__text {

    height: 100%;

    h3 {
      font-weight: 500;
      margin: 3px 0;
      transform-origin: left;
      transition: ease;
    }

    p {
      font-weight: 300;
      transform-origin: left;
      transition: all 100ms ease;
    }
  }

  &__price {
    font-weight: bold;
    font-size: 16px;
    p {
      transform-origin: right;
      transition: ease;
    }

  }

  &__validate {
    cursor: pointer;
    width: 0%;
    height: 100%;
    background-color: $color-tertiary;
    color: white;
    font-size: 30px;
    @include flex-center;
    transform-origin: right;
    transition: width 200ms ease-in-out;

    i {
      display: block;
      transform: rotate(90deg);
      transition: transform 320ms ease-in-out;
    }
  }
}

.card-food:hover {
  .card-food {
    &__validate {
      width: 20%;

      i {
        display: block;
        transform: rotate(1turn)
      }
    }

    &__info {
      width: 80%;
    }
  }
}
