.loader {
  @include flex-center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: $light-grey;
  position: relative;
  top: 0;
  animation-name: loader;
  animation-duration: $loader-animation-duration;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: $loader-delay;

  &__text {
    animation-name: loader-text;
    animation-timing-function: ease-in-out;
    animation-duration: $loader-delay - 1000ms;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    color: black;
    font-family: $font-title;
    margin: 10px 0;
    font-size: 60px;
  }

  &__emoji {
    font-size: 40px;
    animation-name: loader-emoji;
    animation-timing-function: ease-in-out;
    animation-duration: $loader-delay;
    animation-fill-mode: forwards;
  }
}
