@keyframes appear-from-bottom {
  from {
    transform: translateY(100vh);
  }

  to {
    transform: translateY(0vh);
    opacity: 1;
  }
}

@keyframes loader {
  from {
    height: 100vh;
    opacity: 1;
  }

  to {
    height: 0vh;
    opacity: 0;
  }
}

@keyframes loader-text {

  0% {
    transform: scale(0.75)
  }

  50% {
    transform: scale(0.6)
  }

  100% {
    transform: scale(0.75)
  }
}

@keyframes loader-emoji {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}

@keyframes body-scroll {
  from {
    overflow-y: hidden;
  }

  to {
    overflow-y: scroll;
  }
}

@keyframes card-food-animation {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
