@mixin button {
  width: 200px;
  padding: 14px 10px;
  border-radius: 24px;
  background: linear-gradient(175deg, $color-secondary, $color-primary 95%);
  color: white;
  font-weight: 500;
  font-size: 16px;
  border: none;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
}

@mixin button-hover {
  background: linear-gradient(175deg, lighten($color-secondary, 5), lighten($color-primary, 5) 95%);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
}

@mixin card {
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 15px 0;
  overflow: hidden;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin card-food-animated {
  animation-name: card-food-animation;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

@mixin text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin appear-from-bottom-mixin {
  animation-name: appear-from-bottom;
  animation-delay: $loader-delay;
  animation-duration: $loader-animation-duration;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
