$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$text-light: #717171;

$light-grey: #F7F7F7;
$dark-grey: #353535;

$font-title: 'Shrikhand';
$font-text: 'Roboto';

$loader-delay: 5000ms;
$loader-animation-duration: 800ms;
