

header {
  background-color: white;
  margin: 0;
  width: 100%;
  height: 30px;
  padding: 15px 0;
  @include flex-center;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
  position: fixed;
  top: 0;



  img {
    width: 30%;
  }

  a {
    position: absolute;
    left: 20px;
    font-size: 20px;
    color: darken($text-light, 20);
  }
}

.homepage-header {
  @include appear-from-top-mixin;
  opacity: 0;
}




footer {
  width: 94%;
  padding: 15px 3%;
  background-color: $dark-grey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  height: 180px;

  img {
    width: 40%;
  }

  h3 {
    font-family: $font-title;
    margin-left: 10px;
  }

  a {
    color: inherit;
    text-decoration: none;
    margin-left: 10px;
  }
}
