@import '../utils/variables';

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-text;
  margin: 0;
}

p, a {
  font-family: $font-text;
  margin:0;
}
