// Importing scss base
@import './base/base';

// Importing scss utils
@import './utils/variables';
@import './utils/mixins';

// Importing scss layouts
@import './layouts/layouts';

// Importing scss for pages
@import './pages/home';
@import './pages/restaurant';

// Importing scss for components
@import './components/cards';
@import './components/buttons';
