.container {
  margin-top: 60px;
  display: flex;
  z-index: 1;
  width: 100vw;
}

.restaurant-picture {
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: fixed;
    top: 60px;
    z-index: 0;
  }
}

.restaurant-menu {
  z-index: 2;
  margin-top: 250px;
  width: 100%;
  background-color: $light-grey;
  border-radius: 60px 60px 0 0;
  padding: 30px 5%;
  @include flex-center;
  flex-direction: column;
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;

    h1 {
      font-family: $font-title;
    }

    i {
      font-size: 24px;
    }
  }

  button {
    margin-top: 30px;
  }
}

.restaurant-menu-section {

  width: 100%;

  &__title {
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
  }

  &__bar {
    background-color: $color-tertiary;
    height: 5px;
    width: 45px;
    margin: 10px 0;
  }
}
